@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul >
        <li>
            @{

                PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();
                var id = User.Identity.GetUserId();
                var user = db.AspNetUsers.Where(x => x.Id == id).FirstOrDefault();
            }

            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            @Html.ActionLink("Hello" + user.customerFirstName, "CustomerProfile", "Profile")*@
            <a class="dropdown-item d-flex align-items-center"
               href="~/Profile/CustomerProfile/@User.Identity.GetUserId()">
                <i class="bi bi-person-fill" style="font-size:15px"></i> @User.Identity.GetUserName()
               
            </a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul >
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
