@model PrintHouse.Models.AspNetUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}
<div class="container">
    <main id="main">
        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="~/Content/assets/img/@Model.customerImage"
                                 alt="Profile"
                                 class="rounded-circle"
                                 style="max-width:120px; max-height:120px"
                                 />
                            <h2>@Model.customerFirstName @Model.customerLastName</h2>
                            <div class="social-links mt-2">
                                <a href="https://www.twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.facebook.com" class="facebook">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/" class="instagram">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com/" class="linkedin">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active"
                                            data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">
                                        Overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link"
                                            data-bs-toggle="tab"
                                            data-bs-target="#profile-edit">
                                        Edit Profile
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link"
                                            data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">
                                        Change Password
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active profile-overview"
                                     id="profile-overview">
                                    <h5 class="card-title">About</h5>
                                    <p class="small fst-italic">
                                        Hey there, I'm @Model.customerFirstName and I'm a .NET Full Stack Developer. I specialize in developing e-commerce solutions for businesses of all sizes. With years of experience in the industry, I've helped several clients in creating an engaging online presence and improving their overall customer experience. From designing and developing custom e-commerce websites to integrating payment gateways and optimizing website performance, I've got you covered. My expertise in .NET technologies allows me to create scalable and secure web applications that can handle high traffic and complex business processes. Whether you're looking to create a new online store or enhance your existing one, I can help you achieve your goals. Let's connect and discuss how I can assist you in taking your e-commerce business to the next level.
                                    </p>

                                    <h5 class="card-title">Profile Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Full Name</div>
                                        <div class="col-lg-9 col-md-8">@Model.customerFirstName @Model.customerLastName</div>
                                    </div>




                                    @*<div class="row">
                                            <div class="col-lg-3 col-md-4 label">Country</div>
                                            <div class="col-lg-9 col-md-8">USA</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Address</div>
                                            <div class="col-lg-9 col-md-8">
                                                A108 Adam Street, New York, NY 535022
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8">@Model.customerPhone</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">
                                            @Model.Email
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade profile-edit pt-3"
                                     id="profile-edit">
                                    <!-- Profile Edit Form -->
                                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @*<form method="post" action="/Profile/Edit">*@
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.Email)
                                        @Html.HiddenFor(model => model.EmailConfirmed)
                                        @Html.HiddenFor(model => model.PasswordHash)
                                        @Html.HiddenFor(model => model.SecurityStamp)
                                        @Html.HiddenFor(model => model.PhoneNumberConfirmed)
                                        @Html.HiddenFor(model => model.TwoFactorEnabled)
                                        @Html.HiddenFor(model => model.LockoutEndDateUtc)
                                        @Html.HiddenFor(model => model.LockoutEnabled)
                                        @Html.HiddenFor(model => model.AccessFailedCount)
                                        @Html.HiddenFor(model => model.UserName)



                                        <div class="row mb-3">
                                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="~/Content/assets/img/@Model.customerImage" alt="Profile" style="max-width:120px" />
                                                <div class="pt-2">
                                                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
                                                        <i class="bi bi-upload"></i>
                                                        <!-- Add hidden file input type -->
                                                        <input type="file" id="customerImage" name="customerImage" style="display: none;" />

                                                    </a>
                                                    <!-- Add click event to anchor tag to trigger the file input -->
                                                    <script>
                                                        document.querySelector('.btn-primary').addEventListener('click', function () {
                                                            document.querySelector('input[type="file"]').click();
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="customerFirstName"
                                                   class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="customerFirstName"
                                                       type="text"
                                                       class="form-control"
                                                       id="customerFirstNmae"
                                                       value="@Model.customerFirstName" required />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="customerLastName"
                                                   class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="customerLastName"
                                                       type="text"
                                                       class="form-control"
                                                       id="customerLastName"
                                                       value="@Model.customerLastName" required />
                                            </div>
                                        </div>




                                        <div class="row mb-3">
                                            <label for="customerPhone"
                                                   class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="customerPhone"
                                                       type="text"
                                                       class="form-control"
                                                       id="customerLastName"
                                                       value="@Model.customerPhone" />
                                            </div>
                                        </div>


                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">
                                                Save Changes
                                            </button>
                                        </div>
                                    }
                                    @*</form>*@
                                    <!-- End Profile Edit Form -->
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @*<form>*@
                                        <div class="row mb-3">
                                            <label for="currentPassword"
                                                   class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="OldPassword"
                                                       type="password"
                                                       class="form-control"
                                                       id="currentPassword" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="NewPassword"
                                                   class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="newpassword"
                                                       type="password"
                                                       class="form-control"
                                                       id="newPassword" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword"
                                                   class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="ConfirmPassword"
                                                       type="password"
                                                       class="form-control"
                                                       id="renewPassword" />
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">
                                                Change Password
                                            </button>
                                        </div>
                                    }
                                    @*</form>*@
                                    <!-- End Change Password Form -->
                                </div>
                            </div>
                            <!-- End Bordered Tabs -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <h4 class="mb-3">Purchases</h4>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th class="text-center">
                                Items
                            </th>
                            <th class="text-center">

                            </th>
                            <th class="text-center">
                                Quantity
                            </th>
                            <th class="text-center">
                                Date Purchased
                            </th>
                            <th class="text-center">
                                Total
                            </th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();
                            string id = ViewBag.id;
                            var orders = db.OrderDetails.Where(x => x.Order.userId == id);
                            int count = 0;
                            }
                        @foreach (var item in orders)
                        {
                            count++;

<tr>
    <td class="text-center">@count</td>
    <td class="text-center">@item.Product.productName</td>
    <td class="text-center"><img src="~/Content/assets/img/@item.Product.productImage1" alt="@item.Product.productName" style="width: 75px; height: 50px" /></td>
    <td class="text-center">@item.quantity</td>
    <td class="text-center">@item.Order.orderDate</td>
    <td class="text-center">@item.price</td>
    <td class="text-center"></td>
</tr>

                        }



                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>

@*<div>
        <h4>AspNetUser</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.customerFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.customerLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerLastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.customerPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerPhone)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

