@model IEnumerable<PrintHouse.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a8b56cb52b.js" crossorigin="anonymous"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@{
    decimal count = 0;

}


@if (TempData["SweetAlertMessage"] != null && TempData["SweetAlertType"] != null)
{
    <script>

        Swal.fire({
  title: '@TempData["SweetAlertMessage"]',
  icon: '@TempData["SweetAlertType"]',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Proceed'
}).then((result) => {
    if (result.isConfirmed) {
        @Session["productId"]= 
    window.location.href = "@Url.Action("Login", "Account")";
    }
    })
    </script>
}


<div class="container my-5">
    <h1>Shopping Cart</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" class="d-none d-md-table-cell">Picture</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (User.Identity.IsAuthenticated != true)
                {



                    var productIds = ViewBag.ProductIds as List<int>;
                    var quantities = ViewBag.ProductQuantity as List<int>;
                    PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();

                    int productid;

                    decimal totalSum = Convert.ToDecimal(0);

                    try
                    {
                        for (int i = 0; i < productIds.Count && i < quantities.Count; i++)
                        {
                            productid = productIds[i];
                            var guestProduct = db.Products.Where(x => x.productId == productid).FirstOrDefault();

                            @*<p>@guestProduct.productName</p>
                                <p>@guestProduct.productImage1</p>
                                <p>@guestProduct.productPrice</p>

                                <p>@quantities[i]</p>
                                var sum = guestProduct.productPrice * quantities[i];
                                <p>@sum</p>

                                <p>Product ID: @productIds[i]</p>
                                <p>Quantity: @quantities[i]</p>
                                <p></p>*@
                            var sum = guestProduct.productPrice * quantities[i];
                            totalSum += Convert.ToDecimal(sum);
                            <tr>
                                <td class="text-center align-center">@guestProduct.productName</td>
                                <td class="d-none d-md-table-cell">
                                    <img src="~/Content/assets/img/@guestProduct.productImage1"
                                         style="width: 100px; height: 50px"
                                         alt="@guestProduct.productName"
                                         class="img-fluid" />
                                </td>
                                <td>@guestProduct.productPrice JOD</td>
                                <td>@quantities[i]</td>
                                <td>@sum</td>
                            </tr>
                            ViewBag.totalSum = totalSum;

                        }
                    }
                    catch (Exception)
                    {

                    }
                }

                @if (User.Identity.IsAuthenticated)
                {
                    foreach (var item in Model)
                    {

                        @*@Html.HiddenFor(model => item.cartId)
                            @Html.HiddenFor(model => item.userId)
                            @Html.HiddenFor(model => item.productId)
                            @Html.HiddenFor(model => item.price)
                            @Html.HiddenFor(model => item.totalPrice)*@
                        <tr>
                            <td class="text-center align-center">@item.Product.productName</td>
                            <td class="d-none d-md-table-cell">
                                <img src="~/Content/assets/img/@item.Product.productImage1"
                                     style="width: 100px; height: 50px"
                                     alt="@item.Product.productName"
                                     class="img-fluid" />
                            </td>
                            <td>@item.price JOD</td>
                            <td>
                                @*<input type="number"
                                    name="quantity"
                                    id="quantity-@item.cartId"
                                    class="form-control quantity-input"
                                    value="@item.quantity"
                                    min="1"
                                    max="10"
                                    data-cartid="@item.cartId" />*@
                                @item.quantity
                            </td>

                            <td>@item.totalPrice JOD</td>
                            <td>
                                <button type="button" class="btn btn-secondary launch" data-toggle="modal" data-target="#staticBackdrop-@item.cartId">
                                    Edit
                                </button>
                            </td>
                            <td>
                                @using (Html.BeginForm("Delete", "Carts", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("id", item.cartId)
                                    <input type="submit" value="Remove" class="btn btn-danger" />
                                }
                            </td>
                        </tr>

                        count += Convert.ToDecimal(item.totalPrice);
                    }
                }
            </tbody>
            <tfoot>
                @if (User.Identity.IsAuthenticated != true)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Sub Total:</td>
                        <td><strong> @ViewBag.totalSum JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Shipping:</td>
                        @{var ship = Convert.ToDecimal(ViewBag.totalSum) * Convert.ToDecimal(0.07); }
                        <td><strong> @Math.Round(ship, 2) JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Total:</td>
                        @{
                            var total = Convert.ToDecimal(ViewBag.totalSum) + ship;
                        }
                        <td><strong> @Math.Round(total, 2) JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Sub Total:</td>
                        <td><strong> @count JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Shipping:</td>
                        @{var ship = count * Convert.ToDecimal(0.07); }
                        <td><strong> @Math.Round(ship, 2) JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>Total:</td>
                        @{
                            var total = count + ship;
                        }
                        <td><strong> @Math.Round(total, 2) JOD</strong></td>
                        <td>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
        @if (User.Identity.IsAuthenticated && count>0)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkout">Check Out</button>
        }
        else
        {

        }
    </div>
    @foreach (var item in Model)
    {

        <div class="modal fade" id="staticBackdrop-@item.cartId" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-right"><i class="fa fa-close close" data-dismiss="modal"></i></div>
                        <div class="tabs mt-3">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">

                                    <i class="bi bi-cart nav-link active"></i>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                                    <div class="mt-4 mx-4">
                                        <div class="text-center">
                                            <h4>Cart <i class="bi bi-cart"></i></h4>
                                        </div>


                                        <div class="form mt-3">


                                            @using (Html.BeginForm("CartEdit", "Carts", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-horizontal">

                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                                    @Html.Hidden("cartId", item.cartId)
                                                    @Html.Hidden("userId", item.userId)
                                                    @Html.Hidden("productId", item.productId)
                                                    @Html.Hidden("price", item.price)
                                                    @Html.Hidden("totalPrice", item.totalPrice)
                                                    <div class="form-group mb-2">

                                                        <div class="col-md-12 d-flex justify-content-around align-items-center">

                                                            @item.Product.productName
                                                            <img src="~/Content/assets/img/@item.Product.productImage1"
                                                                 style="width: 100px; height: 50px"
                                                                 alt="@item.Product.productName"
                                                                 class="img-fluid" />

                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-md-12">

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Quantity: </label>
                                                        <div class="col-md-12">
                                                            <input type="number" name="quantity" value="@item.quantity" class="form-control" min="1" max="10" />

                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Save Changes" class="btn btn-success" />
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                                    </div>
                                                </div>


                                            }



                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


</div>

}

@*Check out Modal*@
@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="checkout" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="checkoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-right"><i class="fa fa-close close" data-dismiss="modal"></i></div>
                    <div class="tabs mt-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="visa-tab" data-toggle="tab" href="#visa" role="tab" aria-controls="visa" aria-selected="true">
                                    <img src="https://i.imgur.com/sB4jftM.png" width="80">
                                </a>
                            </li>
                        </ul>
                        @{
                            PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();

                            string id = ViewBag.userId;
                            string first = "";
                            string last = "";
                            string email = "";
                            string phone = "";
                            string address = "";
                            string postalCode = "";
                            string city;
                            var shippingInfo = db.Shippings.Where(x => x.userId == id).FirstOrDefault();
                            if (shippingInfo == null)
                            {
                                var user = db.AspNetUsers.Where(x => x.Id == id).FirstOrDefault();
                                first = user.customerFirstName;
                                last = user.customerLastName;
                                email = user.Email;
                                phone = user.customerPhone;

                            }
                            else
                            {
                                first = shippingInfo.firstName;
                                last = shippingInfo.lastName;
                                email = shippingInfo.email;
                                phone = shippingInfo.phone;
                                address = shippingInfo.address;
                                postalCode = shippingInfo.postalCode.ToString();
                                city = shippingInfo.city;
                            }
                        }
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                                @using (Html.BeginForm("Checkout", "Carts", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="mt-4 mx-4">
                                        <div class="text-center">
                                            <h5>Shipping Information</h5>
                                        </div>
                                        <div class="form mt-3">
                                            <div class="inputbox">
                                                <span>First Name</span>
                                                <label></label>
                                                <input type="text" name="customerFirstName" class="form-control" required="required" value="@first">
                                            </div>
                                            <div class="inputbox">
                                                <span>Last Name</span>
                                                <input type="text" name="customerLastName" class="form-control" required="required" value="@last">
                                            </div>
                                            <div class="inputbox">
                                                <span>Email</span>
                                                <input type="text" name="Email" class="form-control" required="required" value="@email">
                                            </div>
                                            <div class="inputbox">
                                                <span>Phone</span>
                                                <input type="text" name="customerPhone" class="form-control" required="required" value="@phone">
                                            </div>
                                            <div class="inputbox">
                                                <span>Shipping Address</span>
                                                <input type="text" name="address" class="form-control" required="required" value="@address">
                                            </div>
                                            <div class="inputbox">
                                                <span>Postal Code</span>
                                                <input type="text" name="postalCode" class="form-control" required="required" value="@postalCode">
                                            </div>
                                            <div class="inputbox">
                                                <span>City</span>
                                                <select class="list-group" name="city">
                                                    <option value="Irbid">Irbid</option>
                                                    <option value="Amman">Amman</option>
                                                    <option value="Aqaba">Aqaba</option>
                                                    <option value="Ajloun">Ajloun</option>
                                                    <option value="Jarash">Jarash</option>
                                                    <option value="Mafraq">Mafraq</option>
                                                    <option value="Zarqa">Zarqa</option>
                                                    <option value="Madaba">Madaba</option>
                                                    <option value="Balqa">Balqa</option>
                                                    <option value="Karak">Karak</option>
                                                    <option value="Maan">Maan</option>
                                                    <option value="Tafeleh">Tafeleh</option>

                                                </select>
                                                @*<input type="text" name="address" class="form-control" required="required">*@
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mt-4 mx-4">
                                        <div class="text-center">
                                            <h5>Credit card</h5>
                                        </div>
                                        <div class="form mt-3">




                                            <div class="form mt-3">

                                                <div class="inputbox">
                                                    <span>Cardholder Name</span>
                                                    <input type="text" name="name" class="form-control" required="required">

                                                </div>
                                                <div class="inputbox">
                                                    <span>Card Number</span>
                                                    <input type="text" name="name" min="1" max="999" class="form-control" required="required">

                                                </div>
                                                <div class="inputbox">
                                                    <span>Expiration Date</span>
                                                    <input type="text" name="name" min="1" max="999" class="form-control" required="required">

                                                </div>
                                                <div class="inputbox">
                                                    <span>CVV</span>
                                                    <input type="text" name="name" min="1" max="999" class="form-control" required="required">

                                                </div>
                                                <div class="inputbox">
                                                    <span>Amount</span>

                                                    <input type="number" name="Payment" max="999" class="form-control" required="required">

                                                </div>

                                                <br />


                                                <br />
                                                <div class="pay d-flex justify-content-center">
                                                    <input type="submit" value="Purchase" class="btn btn-success btn-block" data-toggle="modal" data- target="#staticBackdrop2" />

                                                </div>





                                            </div>


                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.productName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.productName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.cartId }) |
                @Html.ActionLink("Details", "Details", new { id=item.cartId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.cartId })
            </td>
        </tr>
    }

    </table>*@
