@model IEnumerable<PrintHouse.Models.Category>

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Categories</h2>

<p class="d-flex justify-content-end">
    @Html.ActionLink("Add a Category", "Create", "", new { @class = "btn btn-warning btn-sm" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>#</th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.categoryName)*@
                Category
            </th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.categoryDescription)*@
                Description
            </th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.categoryImage)*@
                Image
            </th>
            <th class="text-center"></th>
        </tr>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                    @{ count++;}
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td class="text-center" style="max-width: 150px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.categoryDescription)
                </td>
                <td class="text-center ">
                    <img src="~/Content/assets/img/@item.categoryImage" alt="@item.categoryName" style="width: 75px; height: 50px" />
                    @*@Html.DisplayFor(modelItem => item.categoryImage)*@
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.categoryId }, new { @class = "btn btn-secondary btn-sm" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.categoryId }, new { @class = "btn btn-primary btn-sm" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.categoryId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>