@model List<PrintHouse.Models.Featured>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="features">
    <div class="container">
        <div class="section-title">
            <h2>Featured Printers</h2>
            <p>
                Explore Our Wide Range of High-Quality 3D Printers - Designed for
                Professional and Industrial Use.
            </p>
        </div>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            if (count % 2 != 0)
            {
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Content/assets/img/@item.Product.productImage1"
                             class="img-fluid"
                             alt="" />
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>@item.Product.productName</h3>
                        <p class="fst-italic">
                           @item.Product.productDescription;
                        </p>
                        <p>
                            <a href="~/Products/SingleProduct/@item.productId" class="btn btn-primary">See More</a>
                        </p>
                    </div>
                </div>
            }
            else if (count % 2 == 0)
            {
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Content/assets/img/@item.Product.productImage1" class="img-fluid" alt="" />
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>@item.Product.productName</h3>
                        <p class="fst-italic">
                            @item.Product.productDescription
                        </p>
                        <p>
                            <a href="~/Products/SingleProduct/@item.productId" class="btn btn-primary">See More</a>
                        </p>
                    </div>
                </div>
            }
            count++;
        }




    </div>
</section>

<!-- End Features Section -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row justify-content-center"
             data-aos="fade-up"
             data-aos-delay="200">
            <div class="col-lg-10">
                <div class="accordion accordion-flush" id="faqlist">
                    @{
                        PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();
                        var faq = db.FAQs.ToList();
                        int count2 = 1;
                    }
                    @foreach (var item in faq)
                    {
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-@count2">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    @item.question
                                </button>
                            </h3>
                            <div id="faq-content-@count2"
                                 class="accordion-collapse collapse"
                                 data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    @item.answer
                                </div>
                            </div>
                        </div>
                        count2++;
                    }
                    <!-- # Faq item-->

                  
                    <!-- # Faq item-->
                </div>
            </div>
        </div>
    </div>
</section>
