@model PrintHouse.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Create</h2>





@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="form-horizontal">
                    <h4>Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-floating mb-3">

                        <input type="text" name="productName" class="form-control" id="productName" placeholder="Name" value="" required autofocus />
                        @*@Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName" }, placeholder = "Name" })*@
                        <label for="categoryName">Name</label>

                        @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-floating mb-3">
                        @*@Html.EditorFor(model => model.categoryDescription, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="text" name="productDescription" class="form-control" id="productDescription" placeholder="Description" value="" required />
                        <label for="productDescription">Description</label>
                        @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-control mb-3">
                        <label for="productImage1">Image1</label>

                        <input type="file" name="productImage1" id="productImage1" class="form-control" required  accept="image/*"/>
                        @Html.ValidationMessageFor(model => model.productImage1, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-control mb-3">
                        <label for="productImage2">Image2</label>

                        <input type="file" name="productImage2" id="productImage2" class="form-control" required accept="image/*"/>
                        @Html.ValidationMessageFor(model => model.productImage2, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-control mb-3">
                        <label for="productImage3">Image3</label>

                        <input type="file" name="productImage3" id="productImage3" class="form-control" required accept="image/*"/>
                        @Html.ValidationMessageFor(model => model.productImage3, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-floating mb-3">

                        <input type="number" min="1" name="productPrice" class="form-control" id="productPrice" placeholder="Price" value="" required />
                        @*@Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName" }, placeholder = "Name" })*@
                        <label for="categoryName">Price</label>

                        @Html.ValidationMessageFor(model => model.productPrice, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-floating mb-3">

                        <input type="number" min="1" name="stock" class="form-control" id="stock" placeholder="Units in Stock" value="" required />
                        @*@Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName" }, placeholder = "Name" })*@
                        <label for="categoryName">Units in Stock</label>

                        @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-floating mb-3">

                        @*<input type="number" min="1" name="stock" class="form-control" id="stock" placeholder="Units in Stock" value="" required />*@
                        <select name="categoryId" id="categoryId" class="form-control" required>

                            @foreach (var item in ViewBag.categories)
                            {
                                <option value="@item.categoryId">@item.categoryName</option>
                            }

                        </select>
                        @*@Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName" }, placeholder = "Name" })*@
                        <label for="categoryId">Category</label>

                        @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-floating mb-3">

                        @*<input type="number" min="1" name="stock" class="form-control" id="stock" placeholder="Units in Stock" value="" required />*@
                        <select name="subCategoryId" id="subCategoryId" class="form-control" required>

                            @foreach (var item in ViewBag.subcategories)
                            {
                                <option value="@item.subCategoryId">@item.subCategoryName</option>
                            }

                        </select>
                        @*@Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control", @id = "categoryName" }, placeholder = "Name" })*@
                        <label for="subCategoryId">Subcategory</label>

                        @Html.ValidationMessageFor(model => model.subCategoryId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-warning btn-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Back to List", "AdminProducts", "", new { @class = "btn btn-dark btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}