@model PrintHouse.Models.Product

@{
    ViewBag.Title = "singleProduct";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


@if (Session["SweetAlertMessage"] != null && Session["SweetAlertType"] != null)
{
    <script>
        Swal.fire({
  title: '@Session["SweetAlertMessage"]',
  icon: '@Session["SweetAlertType"]',
  showCancelButton: false,
})
    </script>
    Session.Remove("SweetAlertMessage");
    Session.Remove("SweetAlertType");
    Session.Remove("page");

}



<main id="main">
    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2><b>@Model.productName</b></h2>
                <ol>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="PrintersCategories.html">3D Printers</a></li>
                    <li><a href="Products.html">FDM</a></li>
                    <li>@Model.productName</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src="~/Content/assets/img/@Model.productImage1"
                                     alt="" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/assets/img/@Model.productImage2"
                                     alt="" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/assets/img/@Model.productImage3"
                                     alt="" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>@Model.productName</h3>
                        <form method="post">
                            <ul>
                                <li><strong>Category</strong>: @Model.Category.categoryName</li>
                                <li><input type="number" name="id" value="@Model.productId" hidden /></li>
                                <li><strong>Maker</strong>: MakerBot</li>
                                <li><strong>Price</strong>: @Model.productPrice JOD</li>
                                <li><strong>Quantity</strong> <input type="number" name="quantity" value="1" min="1" /></li>
                                <li><strong>Units in Stock</strong>: @Model.stock</li>
                                <li>
                                    <strong>Specifications</strong>:
                                    <a href="#specs">Check</a>
                                </li>
                            </ul>


                            <button id="mm" name="mm" value="yes" class="btn btn-danger">Add to Cart</button>
                        </form>
                        @*@Html.ActionLink("Add to Cart", "SingleProduct", new { id = Model.productId }, new { @class = "btn btn-danger" })*@
                    </div>

                </div>
            </div>
            <div class="portfolio-description">
                <h2>Description</h2>
                <p>
                    @Model.productDescription
                </p>

            </div>
        </div>
    </section>
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <h4 class="comments-count">@Model.Reviews.Where(x => x.productId == Model.productId).Count() Reviews</h4>
                <br />
                <br />
                @{
                    PrintHouse.Models.PrintHouseEntities db = new PrintHouse.Models.PrintHouseEntities();
                    PrintHouse.Models.Review reviews = new PrintHouse.Models.Review();
                    var review = db.Reviews.Where(x => x.productId == Model.productId).ToList();


                    foreach (var item in review)
                    {
                        <div class="col-lg-8 entries">
                            <div class="blog-author d-flex align-items-center">
                                <img src="~/Content/assets/img/@item.AspNetUser.customerImage"
                                     class="rounded-circle float-left"
                                     alt="" />
                                <div>
                                    <h4>@item.AspNetUser.customerFirstName @item.AspNetUser.customerLastName </h4>

                                    <p>

                                        @item.comment
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {

            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-8 entries">
                        <div class="blog-comments">
                            <div class="reply-form">
                                <h4>Leave a Comment</h4>
                                <p>
                                    Your email address will not be published. Required fields
                                    are marked *
                                </p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input name="name"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder="Your Name*" />
                                        </div>
                                        <!-- <div class="col-md-6 form-group">
                                          <input
                                            name="email"
                                            type="text"
                                            class="form-control"
                                            placeholder="Your Email*"
                                          />
                                        </div> -->
                                    </div>

                                    <div class="row">
                                        <div class="col form-group">
                                            <textarea name="comment"
                                                      class="form-control"
                                                      placeholder="Your Comment*"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Post Comment
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

</main>

